body {
  font-family: "Montserrat", sans-serif;
  background-color: #e5e5e5;
  padding: 40px;
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  /* background: #ffffff; */
  background: #ffffed;
  /* width: 1200px; */
  /* width: 1000px; */
  width: 900px;
  margin: 0 auto;
  /* background: #ffffff; */
  background: #ffffed;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Main-content */
.main-content {
  /* padding: 88px; */
  padding: 40px;
  /* margin-top: 40px; */
}

.main-content-title {
  color: #000;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  margin: 0 0 8px 0;
}

/* About me */
.my-profession {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  margin: 0 0 18px 0;
}

.about-me-total {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  margin-top: 28px;
}

.my-name {
  color: #000;
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  /* line-height: 75px; */
  margin: 0 0 28px 0;
}

hr {
  border: none;
  height: 1px;
  background-color: #353535;
  width: 100%;
  margin-top: -8px;
}

.my-descr {
  color: #595959;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 525px;
  margin-top: -16px;
}

.about-me-container {
  /* margin-bottom: 64px; */
  margin-bottom: 48px;
  /* margin-bottom: 24px; */
}

/* Projects */

.project-item {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.project-list {
  padding: 0 0 0 28px;
  margin: 0;
}

.projects-container {
  margin-bottom: 48px;
}

.project-item-descr {
  color: #595959;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.project-item-link {
  color: #005fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;
}

/* Work experience */

.Work-experience-container {
  margin-bottom: 44px;
}

.work-experience-position {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  margin: 0;
}

.work-experience-place {
  margin: 16px;
}

.work-experience-company {
  color: #6d9bf5;
}

.work-period {
  color: #a8a8a8;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  margin: 8px 0 8px 0;
  padding-left: 4px;
}

.work-period-line,
.learn-period-line {
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
}

.work-dities,
.learn-dities {
  color: #595959;
  font-size: 14px;
  /* font-style: normal; */
  font-weight: 400;
  line-height: 24px;
  /* padding-left: 8px; */
}

.work-dities-list,
.learn-dities-list {
  padding: 0 0 0 28px;
  margin: 0;
}

.university-name {
  color: #6d9bf5;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 12px 0 12px 0px;
}

.learn-period {
  color: #a8a8a8;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  margin: 8px 0 8px 8px;
  /* padding-left: 4px; */
}

.university-position {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 12px 0 12px 8px;
}

/* Sidebar */
.sidebar {
  width: 310px;
  padding-bottom: 40px;
  /* background: #e0ebfe; */
  /* background: #d9f1fe; */
  background: #ffffed;
}

.my-photo {
  margin-top: 40px;
  padding-left: 40px;
  margin-right: 8px;
}

.contact-container,
.tech-skils-container,
.soft-skils-container,
.languages-container {
  margin: 48px 0 0 40px;
}

.sidebar-title {
  color: #161d2a;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  margin-bottom: 8px;
}

/* Contacts */
.contacts-type {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: #161d2a;
  margin-right: 4px;
}

.contacts-item {
  margin: 0;
}

.contacts-number,
.contacts-location {
  color: #161d2a;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.contacts-email,
.contacts-linked,
.contacts-github,
.contacts-telegram {
  color: #2979ff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;
}

/* Skills */
.skils-list,
.lang-list {
  margin: 0;
  padding: 0 0 0 28px;
}

.skils-list-item,
.lang-list-item {
  color: #6d9bf5;
}

.skils-list-item-text,
.lang-list-item-text {
  color: #353535;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
